.top15 {
  margin-top: 15px;
}
.bold {
  font-weight: 700;
}
.white {
  color: #fff;
}
.main-header .navbar {
  background-color: #0099cc;
}
.main-header .logo {
  /*background-color: #19567d;*/
  /*background-color: #2b2b2b;*/
  background-color: #efefef;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
/*accordion-home*/
.venuetitle:hover {
  color: #003260;
  transform: scale(1.5);
}
.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #eeeeee;
}
.accordion dd,
.accordion__panel {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em;
}
.accordion p {
  padding: 1em 2em 1em 2em;
}
.accordion {
  position: relative;
  background-color: #eee;
}
.accordion a {
  display: inline-block;
}
.accordionTitle,
.accordion__Heading {
  background-color: #ececec;
  font-weight: 700;
  padding: 1em 3em;
  display: block;
  text-decoration: none;
  color: #333;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.accordionTitle:hover {
  color: red;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 1em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: absolute;
  left: 10px;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #40adf4;
  color: #fff;
}
.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #78c9db;
  color: #fff;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  background: #fff;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 40em;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}
.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
  animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
    transform: scale(0.9) rotateX(-60deg);
  }
}
.box-chart {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background: #ccc;
  text-align: center;
  vertical-align: middle;
  position: relative;
  float: left;
  margin: 10px;
}
.box-chart-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.box-chart .value {
  z-index: 100;
  position: absolute;
  text-align: center;
  left: 31px;
  top: 30px;
}
.value-chart {
  float: left;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.competitor ul li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
}
.competitor ul {
  padding-left: 0;
  padding: 10px 30px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}
.btn-competitor {
  height: 49px;
  background-color: #0099cc;
  right: 0;
  top: 0;
  color: #fff !important;
  text-align: center;
  font-size: 17px;
  padding: 1em 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
ul {
  padding: 0;
  margin: 0;
}
.no-padd {
  padding: 0;
}
.clear-option span {
  padding: 7px;
  vertical-align: middle;
  color: #8a8a8a;
}
.box-body .btn.bg-purple {
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 3px;
  float: right;
  background-color: #0099cc;
  line-height: 30px;
}
.box-body .btn.bg-purple:hover {
  box-shadow: 0 12px 20px -10px rgba(33, 150, 243, 0.47),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(29, 137, 207, 0.15);
}
.fixed-btn {
  position: fixed;
  z-index: 998;
  right: 35px;
  bottom: 15px;
  margin-bottom: 0;
}
.fixed-btn button {
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
  background-color: #0099cc;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

/* Ripple magic */
.fixed-btn button {
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.fixed-btn button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.fixed-btn button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
button:focus {
  outline: none;
}
.create-profile form {
  border-radius: 3px;
  color: #555;
}
.create-profile input::-webkit-input-placeholder,
.create-profile textarea::-webkit-input-placeholder,
.create-profile select::-webkit-input-placeholder {
  font: inherit;
  -webkit-transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.create-profile input,
.create-profile textarea,
.create-profile select {
  width: 100%;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px #dcdcdc;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(96%, rgba(255, 255, 255, 0)),
    color-stop(4%, #03a9f4)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    #03a9f4 4%
  );
  background-position: -850px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  resize: none;
  overflow: hidden;
}
.create-profile input:focus::-webkit-input-placeholder,
.create-profile textarea:focus::-webkit-input-placeholder,
.create-profile select:focus::-webkit-input-placeholder {
  color: #03a9f4;
}
.create-profile input:focus,
.create-profile input:valid,
.create-profile textarea:focus,
.create-profile textarea:valid,
.create-profile select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.create-profile input:focus::-webkit-input-placeholder,
.create-profile input:valid::-webkit-input-placeholder,
.create-profile textarea:focus::-webkit-input-placeholder,
.create-profile textarea:valid::-webkit-input-placeholder,
.create-profile select:focus::-webkit-input-placeholder,
.create-profile select:valid::-webkit-input-placeholder {
  font-size: 0.8em;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}

/*.create-profile input[type="email"] {
background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #03A9F4));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
background-position: -400px 0;
background-repeat: no-repeat;
-webkit-transition: border-bottom 0.3s ease, background 0.3s ease;
transition: border-bottom 0.3s ease, background 0.3s ease;
}*/
/*.create-profile input[type="email"] ~ span.validation-text {
position: absolute;
visibility: hidden;
font-family: 'roboto', sans-serif;
font-size: 0.6em;
width: 400px;
margin-left: 25px;
margin-top: -5px;
color: white;
-webkit-transition: color 0.3s ease-in-out;
transition: color 0.3s ease-in-out;
}
.create-profile input[type="email"]:not([value=""])::-webkit-input-placeholder {
font-size: 0.8em;
-webkit-transform: translateY(-20px);
transform: translateY(-20px);
visibility: visible !important;
opacity: 1;
}
.create-profile input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
color: #03A9F4;
}
.create-profile input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
color: #E91E63;
}
.create-profile input[type="email"]:focus {
background-position: 0 0;
}
.create-profile input[type="email"]:focus:not(:valid):not([value=""]) {
border-bottom: solid 1px #E91E63;
background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #E91E63));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
.create-profile input[type="email"]:not(:focus):not(:valid):not([value=""]) {
border-bottom: solid 1px #E91E63;
background-position: 0 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #E91E63));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
.create-profile input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
color: #E91E63;
}
.create-profile input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
visibility: visible;
color: #E91E63;
}
*/
.create-profile button {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border: none;
  background: #389af0;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 40px;
  color: white;
  margin: 30px 0 0 25px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}
.create-profile button:hover,
.fixed-btn button:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  color: white;
}
.box {
  padding: 25px;
}
.form-group label {
  font-weight: 600 !important;
}
.m-t-25 {
  margin-top: 25px;
}
.red {
  color: #c93621;
}
.main-btn {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border: none;
  background: #1d89cf;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 40px;
  color: white;
  margin: 30px 0 0 25px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}
.main-btn:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.modal {
  overflow-y: auto;
}
.sevicelist ul li {
  list-style: none;
  display: inline-block;
}
.sevicelist ul li p {
  text-align: center;
}
.pageList {
  padding: 15px;
}
.pageList li {
  line-height: 1.5;
}
/*.rss {
width: 400px;
padding: 20px 0 10px;
}
.pushnotification label {
width: 90px;
height: 30px;
display: inline-block;
position: relative;
border-radius: 14px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
background: rgb(138,138,138);
background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
background: -moz-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
background: -o-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
background: -ms-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
background: linear-gradient(top, rgba(138,138,138,1) 0%, rgba(140,140,140,1) 14%, rgba(159,159,159,1) 72%, rgba(164,164,164,1) 100%);
box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
line-height: 30px;
font-style: normal;
color: #fff;
text-shadow: 0 1px 1px rgba(0,0,0,0.1);
font-weight: bold;
-webkit-box-reflect: below 0px
-webkit-gradient(linear, left top, left bottom,
color-stop(0.5, transparent),
to(rgba(255, 255, 255, 0.3)));
-moz-transition: all 1s ease-in;
-webkit-transition: all 1s ease-in;
-o-transition: all 1s ease-in;
transition: all 1s ease-in;
cursor: pointer;
}

.pushnotification label.attention:hover {
background: rgb(238,159,7);
background: -moz-linear-gradient(top,  rgba(238,159,7,1) 0%, rgba(240,171,8,1) 45%, rgba(243,182,15,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,159,7,1)), color-stop(45%,rgba(240,171,8,1)), color-stop(100%,rgba(243,182,15,1)));
background: -webkit-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
background: -o-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
background: -ms-linear-gradient(top,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
background: linear-gradient(to bottom,  rgba(238,159,7,1) 0%,rgba(240,171,8,1) 45%,rgba(243,182,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee9f07', endColorstr='#f3b60f',GradientType=0 );
}
.pushnotification label.attention:hover:before {
content: "☢"; /* &#9762; */
/* font-size: 22px;
} */
.pushnotification
  input[type="checkbox"]:checked
  ~ label.attention:hover:before {
  content: "on";
  font-size: 14px;
}

.pushnotification label i {
  position: absolute;
  top: -4px;
  right: 60px;
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 36px;
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 11%,
    rgba(228, 228, 228, 1) 50%,
    rgba(221, 221, 221, 1) 53%,
    rgba(205, 205, 205, 1) 97%,
    rgba(191, 191, 191, 1) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 11%,
    rgba(228, 228, 228, 1) 50%,
    rgba(221, 221, 221, 1) 53%,
    rgba(205, 205, 205, 1) 97%,
    rgba(191, 191, 191, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 11%,
    rgba(228, 228, 228, 1) 50%,
    rgba(221, 221, 221, 1) 53%,
    rgba(205, 205, 205, 1) 97%,
    rgba(191, 191, 191, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 11%,
    rgba(228, 228, 228, 1) 50%,
    rgba(221, 221, 221, 1) 53%,
    rgba(205, 205, 205, 1) 97%,
    rgba(191, 191, 191, 1) 100%
  );
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 11%,
    rgba(228, 228, 228, 1) 50%,
    rgba(221, 221, 221, 1) 53%,
    rgba(205, 205, 205, 1) 97%,
    rgba(191, 191, 191, 1) 100%
  );
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

.pushnotification label i:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 18px;
  background: rgb(239, 239, 239);
  background: -webkit-linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(225, 225, 225, 1) 6%,
    rgba(225, 225, 225, 1) 24%,
    rgba(229, 229, 229, 1) 94%,
    rgba(242, 242, 242, 1) 100%
  );
  background: -moz-linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(225, 225, 225, 1) 6%,
    rgba(225, 225, 225, 1) 24%,
    rgba(229, 229, 229, 1) 94%,
    rgba(242, 242, 242, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(225, 225, 225, 1) 6%,
    rgba(225, 225, 225, 1) 24%,
    rgba(229, 229, 229, 1) 94%,
    rgba(242, 242, 242, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(225, 225, 225, 1) 6%,
    rgba(225, 225, 225, 1) 24%,
    rgba(229, 229, 229, 1) 94%,
    rgba(242, 242, 242, 1) 100%
  );
  background: linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(225, 225, 225, 1) 6%,
    rgba(225, 225, 225, 1) 24%,
    rgba(229, 229, 229, 1) 94%,
    rgba(242, 242, 242, 1) 100%
  );
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.pushnotification label:hover i {
  box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
}
.pushnotification label:active i:before {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.pushnotification label:before {
  content: "No";
  margin-left: 40px;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

.pushnotification input[type="checkbox"]:checked ~ label:before {
  content: "Yes";
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 0;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  top: 0;
  left: 7px;
}

.pushnotification input[type="checkbox"]:checked ~ label {
  background-color: #1d89cf;
  background: #1d89cf;
}

.pushnotification input[type="checkbox"]:checked ~ label i {
  right: -6px;
}
*/

/* you can hide leter */
/*.pushnotification input {
position: absolute;
bottom: 5px;
left: 50%;
margin-left: 10px;
opacity: .1;
-webkit-transition: all 0.3s ease-out; 
-moz-transition: all 0.3s ease-out; 
-o-transition: all 0.3s ease-out; 
transition: all 0.3s ease-out; 
} 
.pushnotification input:hover {
opacity: 1;
}
.pushnotification [type=checkbox]+label:before, 
.pushnotification [type=checkbox]:not(.filled-in)+label:after {
border: 0;
}*/

.sidebar-footer {
  border: none;
  background: #6e388a !important;
  min-height: 60px !important;
}
.btn-purple {
  height: 50px;
  background: #389af0;
  border-color: #389af0;
  color: #fff;
  transition: all 0.3s;
}
.validation-box .btn.btn-flat {
  width: 50%;
  margin: 0 auto;
  height: 50px;
  background: #482461;
  border-color: #482461;
}
.btn-purple:hover {
  background-color: #1d89cf;
  border-color: #1d89cf;
}
.btn-app {
  height: 50px;
  padding: 15px 5px;
}
.form-control[readonly] {
  background-color: #fff;
}
.modify-option span {
  padding: 10px;
  color: #c93621;
  display: inline-block;
}
.whitebox-title {
  box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
  font-weight: 300;
  line-height: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
}
button:focus {
  outline: none;
}
.box-footer .bg-purple {
  margin: 5px;
  border-radius: 3px;
  padding: 10px 25px;
}
.daterangepicker .input-mini {
  padding: 0 6px 0 10px !important;
}
.sidebar-mini .dropdown-menu {
  font-size: 13px;
  margin: 0.125rem 15px 0px 0px;
}
.info-box-content,
.info-box {
  transition: all 0.7s;
  cursor: pointer;
}
.info-box:hover {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.info-box:hover .info-box-content {
  border-radius: 5px;
  transition: all 0.7s;
}
.main-sidebar .sidebar-footer {
  background: #eee !important;
  border-top: 1px solid #d2d6de;
}
.popover-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.popover-content {
  height: 200px;
  overflow: auto;
}
.login-logo,
.register-logo {
  width: 60%;
  margin: 7% auto;
}
.close {
  cursor: pointer;
  text-shadow: none;
}
.review-header .info-box-number {
  font-weight: 700;
  font-size: 23px;
  margin: 7px 0px 0px 5px;
  word-wrap: break-word;
  color: #545454;
  display: inline-block;
}

/*-----addonworks-Dashboard------------*/
.content-header {
  background-color: #fff;
  box-shadow: inset -1px 0px 5px 2px #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}
.review-header .bg-red {
  background-color: #e21d2b !important;
}
.review-header .bg-green {
  background-color: #44ae4c !important;
}
.review-header .bg-cyan {
  background-color: #26c6da !important;
  color: #fff;
}
.review-header .info-box-content {
  cursor: default;
  margin-left: 0px;
  padding: 10px 0;
}
.connectedSortable li {
  list-style: none;
  display: inline-block;
}
.sidebar-collapse .main-sidebar {
  background-color: #e5e5e5;
}
.venue-review {
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
}
.venue-review .venue-logo {
  width: 95px;
  float: left;
}
.venue-review .venue-title {
  width: 300px;
  float: left;
}
/*=-===============star ratings*/
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  padding: 5px;
  font-size: 20px;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
  padding: 5px;
  font-size: 20px;
}
.venue-rating {
  margin-bottom: 15px;
}
.tendencies {
  float: left;
  background: #eeeeee;
  margin-bottom: 20px;
}
.btn-blue {
  clear: both;
  color: #fff;
  background: #009efb;
  margin: 5px;
  border-radius: 3px !important;
  padding: 10px 25px;
  transition: all 0.7s;
}
.btn-blue:hover {
  background: #145e8a;
}
.btn-green {
  clear: both;
  color: #fff;
  background: #41b54b;
  margin: 5px;
  border-radius: 3px !important;
  padding: 10px 25px;
  transition: all 0.7s;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #009efb !important;
  background: #009efb !important;
  border: 1px solid #0083af !important;
}
.save-groups ul li {
  margin: 10px;
  padding: 10px;
  background: #eef5f9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #ddd;
}
.more,
.less {
  cursor: pointer;
  color: #ec2528;
  font-weight: 500;
}
.venue-periode {
  float: right;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.venue-periode .input-group {
  width: 27%;
  margin-right: 10px;
  height: 45px;
}
.venue-periode .btn-blue {
  margin-top: 0;
  height: 45px;
}
.venue-periode .form-group select {
  height: 45px !important;
}
.venue-value-box .info-box-content {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.venue-value-box .info-box .progress {
  margin: 5px 10px;
}
.venue-value-box .info-box {
  padding: 10px;
}

.add-venue-error {
  font-size: 11px;
  color: #ff5722;
  margin-top: 10px;
}
@media only screen and (max-width: 1280px) {
  .btn-competitor {
    padding: 1em;
  }
}
.word-Breaker {
  word-break: break-all;
}
.venue-value-box-sales-chart1 .info-box {
  word-wrap: break-word;
}
.register-page-error {
  color: #ff0000;
}
.star-rating {
  line-height: 32px;
  font-size: 1.25em;
  margin-top: 15px;
  margin-bottom: 10px;
}
.star-rating .fa-star {
  color: #faba2e;
}
.reviewMaster .star-rating {
  float: left;
  width: 350px;
  margin-top: 0px;
}
.reviewMaster .venue-title {
  width: auto;
  float: left;
  margin-right: 15px;
}
.box-header > .box-tools {
  top: 12px !important;
}
.matched-venue {
  border-bottom: 1px solid #ddd;
  margin-right: 0;
  margin-left: 0;
}
.matched-venue p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.matched-venue p span {
  padding: 7px;
  cursor: pointer;
}
.matched-venue:hover {
  background-color: #f5f5f5;
}
/********/
/*tab-section*/
.static-group .nav-pills > li > a.active,
.static-group .nav-pills .nav-link.active,
.static-group .show > .nav-pills .nav-link {
  background-color: #0099cc;
  border-top-color: #0099cc;
  border-radius: 2px;
  padding: 15px 35px;
  font-size: 18px;
  margin: 3px;
}
.static-group .nav-pills > li > a {
  background: #f3f3f3;
  border-radius: 2px;
  padding: 15px 35px;
  font-size: 18px;
  margin: 3px;
}
.static-group .tab-content > .active {
  display: block;
  border: 1px solid #e6e6e6;
  padding: 25px 15px;
}
.static-group .tab-content p {
  margin-bottom: 0;
}
.mr-0 {
  margin: 0px;
}
/*add-styles*/
.user-info ul li {
  line-height: 2;
  font-size: 1rem;
}
.user-info li .right_list {
  display: inline-block;
  width: 170px;
  padding-left: 15px;
}
.subscription .product-info .btn-app {
  height: 40px;
  padding: 10px 35px;
  line-height: 18px;
  background-color: #41b54b;
}

/*--------mediaquery------*/
@media (max-width: 767px) {
  .dataTables_wrapper .dataTables_paginate {
    float: left !important;
    text-align: left !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 3px !important;
    font-size: 13px;
  }
  .dataTables_info {
    float: right;
    font-size: 13px;
  }
  .inner-body {
    padding-top: 100px;
  }
  .main-header .logo .logo-lg {
    width: 150px !important;
    margin: 0 auto;
  }
  .create-profile button {
    padding: 8px 15px;
    margin: 15px 0 0 0px;
  }
  .close {
    font-size: 1rem;
  }
  .venue-periode {
    padding: 5px;
  }
  .venue-value-box .info-box-content {
    margin-left: 0 !important;
  }
  .box-chart {
    width: 80px;
    height: 80px;
  }
  .box-chart .value {
    left: 25px;
  }
  .word-Breaker {
    white-space: normal !important;
  }
  .accordion-list .clear-option span {
    float: right;
    padding: 0px 7px;
  }
  #test-list .form-control {
    border-radius: 5px;
    width: 50%;
    background: #f3f3f3;
  }
  .login-box .fog-pwd i {
    position: relative;
    padding-right: 5px;
  }
  .review-header .info-box-content span {
    text-align: center;
  }
  .review-header .info-box-content {
    text-align: center;
  }
  .review-header .info-box-content .info-box-icon {
    display: inline-block;
    float: none;
  }
  .venue-periode .input-group {
    width: 100%;
    margin-bottom: 6px;
  }
  .edit-sec {
    padding-bottom: 10px;
  }
  .box-title {
    font-size: 15px !important;
  }
}
@media (min-width: 768px) {
  .create-profile form {
    padding: 20px 25px 40px;
  }
  body {
    padding-top: 70px;
  }
  .venue-review .star-rating {
    margin-top: 25px;
  }
  .venue-review .venue-info p {
    margin-bottom: 10px;
  }
  .review-header .info-box {
    min-height: 160px;
    padding: 12px;
  }
  #test-list .form-control {
    border-radius: 5px;
    width: 15%;
    background: #e8e8e8;
  }
  .edit-sec {
    padding-top: 14px;
  }
  .minheighter {
    min-height: 521px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .clear-option {
    padding-top: 10px;
    /*max-width: 125px;*/
  }
  .btn-competitor {
    padding: 10px !important;
    font-size: 15px !important;
    margin-bottom: 0 !important;
    max-width: 120px;
  }
  .box-chart {
    width: 85px;
    height: 85px;
  }
  .value-chart {
    margin-bottom: 15px;
  }
  .word-Breaker {
    white-space: normal !important;
  }
  .venue-periode .btn-blue {
    padding: 10px 10px;
  }
  .venue-periode .form-control {
    padding: 0.5rem 0.5rem;
  }
  .review-header .info-box-text {
    height: 50px !important;
  }
}
.delete-icon-addedit {
  text-align: center;
  vertical-align: middle;
}
.group-i {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
.group-i .fa {
  padding-top: 10px;
}

.selectMultiple {
  position: relative;
}
.selectMultiple select {
  display: none;
}
.selectMultiple > div {
  position: relative;
  padding: 8px 12px 2px 12px;
  border-radius: 1px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
  transition: box-shadow 0.3s ease;
}
.selectMultiple > div:hover {
  box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
}
.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}
.selectMultiple > div .arrow:before,
.selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid #99a3ba;
  top: 43%;
  transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
  right: 12px;
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
  left: 9px;
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}
.selectMultiple > div span {
  color: #99a3ba;
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-4px, 0);
  transform: translate(-4px, 0);
}
.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: #1e2330;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
}
.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background: rgba(228, 236, 250, 0.7);
  z-index: -1;
  border-radius: 4px;
}
.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}
.selectMultiple > div a i:before,
.selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #0099cc;
  border-radius: 1px;
}
.selectMultiple > div a i:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
  opacity: 0;
  -webkit-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}
.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
  opacity: 0;
  -webkit-transform: translate(-12px, 0);
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 200;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  -webkit-transform: translate(0, 20px) scale(0.8);
  transform: translate(0, 20px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
  filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
  transition: all 0.4s ease,
    -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44),
    -webkit-filter 0.3s ease 0.2s;
  transition: all 0.4s ease,
    transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
  transition: all 0.4s ease,
    transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s,
    -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44),
    -webkit-filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
  color: #1e2330;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.5s ease 0.3s,
    border-radius 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s,
    opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s,
    opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s,
    -webkit-transform 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li:hover {
  background: #0099cc;
  color: #fff;
}
.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 100%;
  -webkit-transform: scale(1, 1) translate(-50%, -50%);
  transform: scale(1, 1) translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li.remove {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.selectMultiple > ul li.remove:after {
  -webkit-animation: ripple 0.4s ease-out;
  animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
  display: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.4s ease, -webkit-transform 0.35s ease;
  transition: transform 0.35s ease, opacity 0.4s ease;
  transition: transform 0.35s ease, opacity 0.4s ease,
    -webkit-transform 0.35s ease;
}
.selectMultiple > ul li.notShown.show {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.selectMultiple.open > div {
  box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
}
.selectMultiple.open > div .arrow:before {
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.selectMultiple.open > ul {
  -webkit-transform: translate(0, 12px) scale(1);
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
  filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(30, 30);
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(50, 50);
    transform: scale(50, 50);
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(30, 30);
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(50, 50);
    transform: scale(50, 50);
  }
}
.select2-container--default .select2-selection--multiple {
  border-radius: 1px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .venue-periode .input-group {
    width: 100%;
    margin-bottom: 6px;
  }
  .review-header .info-box {
    min-height: 190px;
  }
  .review-header .info-box-text {
    height: 100px;
    text-transform: capitalize;
  }
  .review-header .info-box-content {
    text-align: center;
  }
  .review-header .info-box-number {
    display: block;
  }
  .review-header .info-box-content .info-box-icon {
    float: none;
    display: inline-block;
  }
  #donutAnchor.col-lg-6,
  #linechartAnchor.col-lg-6,
  #barAnchor.col-lg-6,
  #starAnchor.col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .subanchor {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .minheighter {
    min-height: 598px;
  }
}
@media (min-width: 1600px) {
  .minheighter {
    min-height: 860px;
  }
}

@media only screen and (max-width: 760px) {
  .plans_box {
    margin-top: 130px;
  }
}
