
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Grafana</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Examples</a></li> -->
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
     <div class="col-md-12 col-lg-12" >
      <div class="box box-solid" style="background-color:#141414;">
        <div class="box-header with-border">
         <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
          title="Collapse">
          <i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body"> 
          
                        <div id="gallery">
        <div id="gallery-header">
          <div id="gallery-header-center">
            <div id="gallery-header-center-left">
              <button class="btn btn-default btn-flat margin" id="SeeSite">View Grafana Site</button>
              <button class="btn btn-default btn-flat margin" id="revert" style="display: none;">View Images</button>
            </div>
          </div>
        </div>
        <div id="gallery-content">
       <!--    <div id="gallery-content-center">-->
      <div id='grafana-dashboard' class="col-lg-12">
        dsfsdfffffffffffffffffffff
      </div>

        <!--  </div> -->
        </div>
      </div>
<!-- <iframe id="frameSite" style=" display: none; width:100%; height:1000px;" src="http://138.197.12.135/dashboard/db/spella" frameborder="0"></iframe> -->
      </div>
</div>
</div>
</div>


</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer class="main-footer">
  <div class="pull-right d-none d-sm-inline-block">
  </div>Copyright &copy; 2018 <a href="https://www.datastitute.fr/">Spella Corp</a>. All Rights Reserved.
</footer>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../assets/vendor_components/jquery/dist/jquery.min.js"></script>

<!-- popper -->
<script src="../assets/vendor_components/popper/dist/popper.min.js"></script>

<!-- Bootstrap v4.0.0-beta -->
<script src="../assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- SlimScroll -->
<script src="../assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<!-- FastClick -->
<script src="../assets/vendor_components/fastclick/lib/fastclick.js"></script>

    <!-- jQuery cookie -->
  <script src="assets/vendor_components/jquery/dist/jquery.cookie.js"></script>

<!-- maximum_admin App -->
<script src="js/template.js"></script>
<!-- Dijo's scripts -->
  <!-- gallery -->
  <script type="text/javascript" src="assets/vendor_components/gallery/js/animated-masonry-gallery.js"></script>
  <script type="text/javascript" src="assets/vendor_components/gallery/js/jquery.isotope.min.js"></script>
   
  <!-- fancybox -->
<script type="text/javascript" src="assets/vendor_components/lightbox-master/dist/ekko-lightbox.js"></script>
<script src="js/templates/grafana.js"></script>
</body>
</html>
