body {
	text-align: center;
	font: 16px/140% Exo-light, "Helvetica Neue", Helvetica, Verdana, Sans-serif;
	color: #414141;
}

bold, h1, h2, h3 {
	font-weight: 600;
}

#main {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

#footer {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	width: 800px;
	margin: 50px auto 20px;
	font-size: smaller;
	text-transform: uppercase;
}

#footer ul {
	list-style-type: none;
	margin: 30px 0;
	padding: 0;
}

#footer li {
	display: inline;
	padding: 0 20px;
}

#footer a {
	text-decoration: none;
	background-color: #928787;
	color: white;
	padding: 6px 18px;
	font-weight: bold;
	border-radius: 10px;
}

#footer a:active {
	color: silver;
	background-color: #797070;
}

#footer li a.current {
	color: white;
	background-color: silver;
}

#copyright {
	text-align: right;
	width: 800px;
	margin: 0 auto;
	font-size: smaller;
	color: #bfc0bf;
}

h2 {
	border-top: 1px solid #edeeef;
	padding-top: 1em;
	font-size: 1.2em;
	color: #2c9f3a;
}

h2#first {
	border-top: none;
	padding-top: 0;
}

hr.light {
	opacity: 0.2;
}

a {
	text-decoration: none;
	color: #253513;
}

p.hint {
	padding: 1.3em 1em 1em;
	background: #e9e9eb url(img/hint.png) no-repeat;
	border-radius: 8px;
	border-style: hidden;
	font: 16px/130% AvenirNext-DemiBold, "Helvetica Neue", Helvetica, Verdana, Sans-serif;
	text-indent: 2em;
}

.credits p {
	padding: 0.3em 0;
	margin: 0;
}

img.left {
	float:left;
	margin: 0 15px 5px 0;
}

