.skin-blue .navbar {
	background: #272c33;
}
/*accordion-home*/
.venuetitle:hover {
	color: #af2cc5;
	transform: scale(1.5);
}
.accordion dl:after,
.accordion-list:after {
	content: "";
	display: block;
	height: 1em;
	width: 100%;
	background-color: #eeeeee;
}
.accordion dd,
.accordion__panel {
	background-color: #fff;
	font-size: 1em;
	line-height: 1.5em;
}
.accordion p {
	padding: 1em 2em 1em 2em;
}
.accordion {
	position: relative;
	background-color: #eee;
}
.accordion a 
{
	display: inline-block;
}
.accordionTitle,
.accordion__Heading {
	background-color: #ececec;
	font-weight: 700;
	padding: 1em 3em;
	display: block;
	text-decoration: none;
	color: #333;
	-webkit-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
	border-bottom: 1px solid #d8d8d8;;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.accordionTitle:hover {
	color: red;
}
.accordionTitle:before,
.accordion__Heading:before {
	content: "+";
	font-size: 1.5em;
	line-height: 1em;
	float: left;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	position: absolute;
	left: 10px;
}
.accordionTitle:hover,
.accordion__Heading:hover {
	background-color: #78C9DB  ;
	color: #fff;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
	background-color:#78C9DB ;
	color: #fff;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
}

.accordionItem {
	height: auto;
	overflow: hidden;
	max-height: 50em;
	-webkit-transition: max-height 1s;
	transition: max-height 1s;
	background: #fff;
}
@media screen and (min-width: 48em) {
	.accordionItem {
		max-height: 40em;
		-webkit-transition: max-height 0.5s;
		transition: max-height 0.5s;

	}
}

.accordionItem.is-collapsed {
	max-height: 0;
}

.no-js .accordionItem.is-collapsed {
	max-height: auto;
}

.animateIn {
	-webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
	animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
	-webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
	animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
		transform: scale(0.9) rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes accordionIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
		transform: scale(0.9) rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes accordionOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
		transform: scale(0.9) rotateX(-60deg);
	}
}
@keyframes accordionOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
		transform: scale(0.9) rotateX(-60deg);
	}
}
.box-chart {
	width: 100px;
	height: 100px;
	border-radius: 6px;
	background: #ccc;
	text-align: center;
	vertical-align: middle;
	position: relative;
	float: left;
	margin: 10px;
}
.box-chart-inner {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.box-chart .value {
	z-index: 100;
	position: absolute;
	text-align: center;
	left: 31px;
	top: 30px;
}
.value-chart {
	float: left;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}
.competitor ul li {
	list-style: none;
	display: inline-block;
	font-size: 15px;
}
.competitor ul {
	padding-left: 0;
	padding: 10px 30px;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
.btn-competitor {
	height: 49px;
	background-color: #1d89cf;
	right: 0;
	top: 0;
	color:#fff !important;
	text-align: center;
	font-size: 17px;
	padding: 1.3em 3em;
}
ul {
	padding: 0;
	margin:0;
}
.no-padd {
	padding: 0;
}
.clear-option span {
	padding: 7px;
	vertical-align: middle;
	color: #8a8a8a;
}
.box-body .btn.bg-purple {
	padding: 15px 35px;
	font-size: 18px;
	border-radius: 3px;
	float: right;
	background-color: #1d89cf;
	box-shadow: 0 12px 20px -10px rgba(33, 150, 243, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(29, 137, 207, 0.15);
}
.box-body .btn.bg-purple:hover {
	background-color: #00acc1;
	box-shadow: 0 12px 20px -10px rgba(33, 150, 243, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(29, 137, 207, 0.15);
}
.fixed-btn {
	position: fixed;
	z-index: 998;
	right: 35px;
	bottom: 15px;
	margin-bottom: 0;

}
.fixed-btn button {
	border: none;
	cursor: pointer;
	color: white;
	border-radius: 2px;
	font-size: 22px;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
	background-color: #5cb860;
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

/* Ripple magic */
.fixed-btn button{
	position: relative;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}


.fixed-btn button:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, .5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
	transform-origin: 50% 50%;
}

@keyframes ripple {
	0% {
		transform: scale(0, 0);
		opacity: 1;
	}
	20% {
		transform: scale(25, 25);
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(40, 40);
	}
}

.fixed-btn button:focus:not(:active)::after {
	animation: ripple 1s ease-out;
}
button:focus {
	outline: none;
}
.create-profile form {
	border-radius: 3px;
	color: #555;
}
.create-profile input::-webkit-input-placeholder,
.create-profile textarea::-webkit-input-placeholder,
.create-profile select::-webkit-input-placeholder {
	font: inherit;
	-webkit-transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.create-profile input,
.create-profile textarea,
.create-profile select {
	width: 100%;
	display: block;
	border: none;
	padding: 20px 0 10px;
	border-bottom: solid 1px #dcdcdc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #03A9F4));
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
	background-position: -850px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	resize: none;
	overflow: hidden;
}
.create-profile input:focus::-webkit-input-placeholder,
.create-profile textarea:focus::-webkit-input-placeholder,
.create-profile select:focus::-webkit-input-placeholder {
	color: #03A9F4;
}
.create-profile input:focus, 
.create-profile input:valid,
.create-profile textarea:focus,
.create-profile textarea:valid,
.create-profile select:focus
{
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}
.create-profile input:focus::-webkit-input-placeholder,
.create-profile input:valid::-webkit-input-placeholder,
.create-profile textarea:focus::-webkit-input-placeholder,
.create-profile textarea:valid::-webkit-input-placeholder,
.create-profile select:focus::-webkit-input-placeholder,
.create-profile select:valid::-webkit-input-placeholder {
	font-size: 0.8em;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	visibility: visible !important;
	opacity: 1;
}

/*.create-profile input[type="email"] {
background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #03A9F4));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
background-position: -400px 0;
background-repeat: no-repeat;
-webkit-transition: border-bottom 0.3s ease, background 0.3s ease;
transition: border-bottom 0.3s ease, background 0.3s ease;
}*/
/*.create-profile input[type="email"] ~ span.validation-text {
position: absolute;
visibility: hidden;
font-family: 'roboto', sans-serif;
font-size: 0.6em;
width: 400px;
margin-left: 25px;
margin-top: -5px;
color: white;
-webkit-transition: color 0.3s ease-in-out;
transition: color 0.3s ease-in-out;
}
.create-profile input[type="email"]:not([value=""])::-webkit-input-placeholder {
font-size: 0.8em;
-webkit-transform: translateY(-20px);
transform: translateY(-20px);
visibility: visible !important;
opacity: 1;
}
.create-profile input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
color: #03A9F4;
}
.create-profile input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
color: #E91E63;
}
.create-profile input[type="email"]:focus {
background-position: 0 0;
}
.create-profile input[type="email"]:focus:not(:valid):not([value=""]) {
border-bottom: solid 1px #E91E63;
background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #E91E63));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
.create-profile input[type="email"]:not(:focus):not(:valid):not([value=""]) {
border-bottom: solid 1px #E91E63;
background-position: 0 0;
background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #E91E63));
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
.create-profile input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
color: #E91E63;
}
.create-profile input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
visibility: visible;
color: #E91E63;
}
*/
.create-profile button {
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	border: none;
	background: #1d89cf;
	cursor: pointer;
	border-radius: 3px;
	padding: 15px 40px;
	color: white;
	margin: 30px 0 0 25px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	text-transform: capitalize;
}
.create-profile button:hover,
.fixed-btn button:hover {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.box {
	padding: 25px;
}
.form-group label {
	font-weight: 600 !important;
}
.m-t-25 {
	margin-top: 25px;
}
.red {
	color: #C93621;
}
.main-btn {
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	border: none;
	background: #1d89cf;
	cursor: pointer;
	border-radius: 3px;
	padding: 15px 40px;
	color: white;
	margin: 30px 0 0 25px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	text-transform: capitalize;
}
.main-btn:hover {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.modal {
	overflow-y:auto;
}
.sevicelist ul li {
	list-style: none;
	display: inline-block;
}
.sevicelist ul li p {
	text-align: center;
}
.pageList {
	padding: 15px;
}
.pageList li {
	line-height: 1.5;
}
.pushnotification input[type=checkbox]:checked ~ label.attention:hover:before  {
	content: "on";
	font-size: 14px
}
.pushnotification label i {
	position: absolute;
	top: -4px;
	right:60px;
	width: 36px;
	height: 36px;
	display: block;
	border-radius: 36px;
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 11%, rgba(228,228,228,1) 50%, rgba(221,221,221,1) 53%, rgba(205,205,205,1) 97%, rgba(191,191,191,1) 100%);
	box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}

.pushnotification label i:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
	border-radius: 18px;
	background: rgb(239,239,239);
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	background: linear-gradient(top, rgba(239,239,239,1) 0%, rgba(225,225,225,1) 6%, rgba(225,225,225,1) 24%, rgba(229,229,229,1) 94%, rgba(242,242,242,1) 100%);
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.pushnotification label:hover i {
	box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.3);
}
.pushnotification label:active i:before {
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.pushnotification label:before {
	content: "No";
	margin-left: 40px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}

.pushnotification input[type=checkbox]:checked ~ label:before {
	content: "Yes";
	text-transform: uppercase;
	margin-right: 30px;
	margin-left: 0;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	top: 0;
	left: 7px;
}
.pushnotification input[type=checkbox]:checked ~ label{
	background-color: #1d89cf;
	background:  #1d89cf;
}
.pushnotification input[type=checkbox]:checked ~ label i {
	right: -6px;
}
.btn-green {
	height: 50px;
	background-color: #44ae4c;
	border-color: #44ae4c;
	color:#fff;
	transition: all .3s;
	cursor: pointer;
}
.validation-box .btn.btn-flat {
	width: 50%;
	margin: 0 auto;
}
.btn-blue:hover {
	background-color: #1e78c7;
	border-color: #1e78c7;
}
.btn-app {
	height: 50px;
	padding: 15px 5px;
}
.form-control[readonly] {
	background-color: rgba(128, 128, 128, 0.34);
    color: #fff;
    border-color: #565656;
}
.modify-option span {
	padding: 10px;
	color: #C93621;
}
.whitebox-title {
	box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
	font-weight: 300;
	line-height: 20px;
	border-radius: 3px;
	margin-bottom: 20px;
	background-color: white;
	padding: 15px;
}
button:focus {
	outline: none;
}
.box-footer .bg-purple {
	margin:5px;
	border-radius: 3px;
	padding: 10px 25px;
}
.daterangepicker .input-mini {
	padding: 0 6px 0 10px !important;
}
.sidebar-mini .dropdown-menu {
	font-size: 13px;
	margin: .125rem 15px 0px 0px;
}
.info-box-content,
.info-box {
	transition: all .7s;
	/*cursor: pointer;*/
}
/*.info-box:hover  {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}*/
.info-box:hover .info-box-content {
	color: #fff;
	border-radius: 5px;
	transition: all .7s;
}
.main-sidebar .sidebar-footer {
	background: #181c22;
}

.popover-title {
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.popover-content {
	height: 200px;
	overflow:auto;
}
.login-logo,
.register-logo {
	width: 60%;
	margin: 7% auto;
}
.more
{
	background-color: lightblue;
}
.less{
	background-color: lightblue;
}

/*-------------ADMIN---------------*/
.login-page, 
.register-page {
	background: #383f48;
}
.login-box-body, 
.register-box-body {
	background: #272c33;
	box-shadow: 0 2px 2px 0 rgb(56, 63, 72), 0 3px 1px -2px rgb(39, 44, 51), 0 1px 5px 0 rgb(56, 63, 72);
}
.white {
	color: #fff !important;
}
.blue {
	color: #1e78c7 !important;
}
.bold {
	font-weight: 700 !important;
}
.content-wrapper {
	min-height: 100%;
	background-color: #383f48;
	z-index: 800;
}
.skin-blue .content {
	background: #383f48;
}
.box {
	background: #272c33;
}
.box-footer {
	border-top: 1px solid #666666;
	padding: 10px;
	background-color: #272c33;
	border-radius: 0 0 3px 3px;
}
.content-header>h1, 
.content-header>.container>h1 {
	margin: 0 0 10px;
	font-size: 30px;
	color: #fff;
}
.skin-blue .wrapper, 
.skin-blue .main-sidebar, 
.skin-blue .left-side {
	background-color: #272c33;
	box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
}
.skin-blue .main-header .logo {
	background-color: #383f48;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.main-footer {
	background: #383f48;
	padding: 15px;
	color: #ccc;
	border-top: 1px solid #333;
}
.login-box-body .form-control,
.validation-box .form-control,
.register-box-body .form-control,
.content-form-section .form-control,
.dataTables_wrapper .form-control {
	background-color: rgba(128, 128, 128, 0.34);
	color: #fff;
	border-color: #565656;
}
.register-box-body .input-group .input-group-addon {
    border-radius: 0;
    border-color: #383f48;
    background-color: #272c33;
    color: #dedede;
}
.content-form-section .btn-outline-success {
	color: #fff;
}
.dataTables_length label,
.dataTables_filter label {
    display: inline-block;
    margin-bottom: .5rem;
}
.text-upper {
	text-transform: uppercase;
}
.type-bg {
	background-color: rgba(128, 128, 128, 0.34);
	color: #fff;
	border-color: #565656;
}
.mt-25 {
  margin-top: 25px !important;
}

.loader3 {
  margin: 4em auto;
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load3 1.1s infinite ease;
  animation: load3 1.1s infinite ease;
}
@-webkit-keyframes load3 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load3 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #44ae4c, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #44ae4c, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #44ae4c, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #44ae4c, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #44ae4c, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #44ae4c, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #44ae4c;
  }
}
.services>tbody>tr>th {
	font-weight: 600;
	font-size: 15px;
}
.services>tbody>tr>td {
	word-break: break-all;
}
.hr-line {
	border-bottom: 1px solid #666;
}

.sub-table > tbody > tr > td, 
.sub-table > tbody > tr > th, 
.sub-table > tfoot > tr > td, 
.sub-table > tfoot > tr > th, 
.sub-table > thead > tr > td, 
.sub-table > thead > tr > th {
	padding: 3px;
	font-size: 13px;
	text-align: center;
	
}
.sub-table {
	background-color: #181c22;
}
.user-edit .table th {
	border-top: transparent;
	}
.user-edit .table td
 {
	    border-top: 1px solid #3f444a;
}
.user-edit .form-group {
	margin-bottom: .5rem;
	margin-top: .5rem;
}
.modal-inner {
    border: 1px solid #dedede;
    padding: 10px;
}
.box-body-title {
	justify-content: space-between;
}
.box-body-title .btn-green {
	padding-left: 1.2rem;
    padding-right: 1.2rem;
    height: 37px;
    border-radius: 3px;
}
.product-list-table .actions .btn {
	border-radius: 3px;
	margin-right: .5rem;
}









/*--------mediaquery------*/

@media (max-width: 767px) {
	.dataTables_wrapper .dataTables_paginate {
		float: left !important;
		text-align: left !important;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button {
		padding: .5em 3px !important;
		font-size: 13px;
	}
	.dataTables_info {
		float: right;
		font-size: 13px;
	}
	.inner-body {
		padding-top: 100px;
	}
}
@media (min-width:768px) {
	.create-profile form {
		padding: 20px 25px 40px;
	}
	body {
		padding-top: 70px;
	}
}

.deleter{
	cursor: pointer;
}